* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
}

header {
    background-color: #111111;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

header img {
    max-width: 100px;
    
}

header h1 {
    margin-left: 15px;
    color: white;
    
}

header ul {
    list-style-type: none;
    display: flex;

}

header li + li {
    margin-left: 15px;
}

header a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: brown;
}

.hero {
    background-image: url(/imagens/pexels-jonathan-borba-2983101.jpg);
    background-size: cover;
    background-position: center;

}

.hero h1 {
    color: #ebebeb;
    margin-bottom: 15px;
    
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}

.cards {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.cards h2 {
    padding-left: 20px;
}

.cards-row {
    display: flex;
    flex-wrap: wrap;
}


.cardssolo {
    margin-top: 10px ;
    margin-left: 10px;
    background-color: bisque;
    align-items: center;
    padding: 15px;
    justify-content: center;
    width: 250px;
}

.cardssolo img {
    max-width: 100%;
    
}

.cardssolo p {
    max-width: 150px;
    text-align: center;
    margin: 12px 50px 0;
}

footer {
    background-color: red;

}

footer p {
    margin: 25px auto;
    display: flex;
    justify-content: center;
}

footer a {
    margin-left: 4px;
}
